@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Inregistrare";
}

<h1>@ViewData["Title"]</h1>
<h2 id="external-login-title">Asociaza contul cu @Model.ProviderDisplayName.</h2>
<hr />


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
