@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmare email pentru inregistrare";
}

<h1>@ViewData["Title"]</h1>

<p>Va rugam sa verificati emailul pentru a confirma contul.</p>

<a href="/Account/Login">Autentificare</a>

