@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmare resetare parolă";
}

<h1>@ViewData["Title"]</h1>
<p>
   Parola a fost resetată. Click <a asp-page="./Login">aici ca să vă logați</a>.
</p>
