@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Setare parolă";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3>Seteazăți parola</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<p class="text-info">
    Nu aveți un nume de utilizator/parolă local pentru acest site. Adăugați un cont
    local astfel încât să vă puteți conecta fără autentificare externă.
</p>
<div class="row">
    <div class="col-md-6">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" />
                <label asp-for="Input.NewPassword" class="form-label">Parola nouă</label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" />
                <label asp-for="Input.ConfirmPassword" class="form-label">Confirmare parolă</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Setează parola</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
